# Sample Datasets
- [kaggle car dataset](https://www.kaggle.com/CooperUnion/cardataset)

## Importing Data
Use these commands to import data from a variety of different sources and formats.

- pd.read_csv(filename) | From a CSV file
- pd.read_table(filename) | From a delimited text file (like TSV)
- pd.read_excel(filename) | From an Excel file
- pd.read_sql(query, connection_object) | Read from a SQL table/database
- pd.read_json(json_string) | Read from a JSON formatted string, URL or file.
- pd.read_html(url) | Parses an html URL, string or file and extracts tables to a list of dataframes
- pd.read_clipboard() | Takes the contents of your clipboard and passes it to read_table()
- pd.DataFrame(dict) | From a dict, keys for columns names, values for data as lists

In [1]:
import pandas as pd

In [82]:
cars = pd.read_csv(r"C:/Users/user/Downloads/data.csv")

In [83]:
cars.head() #default first 5 rows

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Exporting Data
Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

- df.to_csv(filename) | Write to a CSV file
- df.to_excel(filename) | Write to an Excel file
- df.to_sql(table_name, connection_object) | Write to a SQL table
- df.to_json(filename) | Write to a file in JSON format

## Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

- df.head(n) | First n rows of the DataFrame
- df.tail(n) | Last n rows of the DataFrame
- df.shape | Number of rows and columns
- df.info() | Index, Datatype and Memory information
- df.describe() | Summary statistics for numerical columns
- s.value_counts(dropna=False) | View unique values and counts

In [84]:
cars.head(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350

In [85]:
cars.tail(2) #default shows last 5 rows

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [86]:
cars.shape

(11914, 16)

In [87]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [88]:
type(cars)

pandas.core.frame.DataFrame

In [89]:
 type(cars["Make"])# individual columns are stored as series

pandas.core.series.Series

In [90]:
cars.describe() #statistical summary of numerical columns

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [91]:
cars["Make"].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [92]:
cars["Transmission Type"].value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: Transmission Type, dtype: int64

In [93]:
cars["Vehicle Size"].value_counts()

Compact    4764
Midsize    4373
Large      2777
Name: Vehicle Size, dtype: int64

In [104]:
cars["Engine Fuel Type"].value_counts()

regular unleaded                                7172
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
natural gas                                        2
Name: Engine Fuel Type, dtype: int64

In [94]:
cars["Vehicle Style"].value_counts()

Sedan                  3048
4dr SUV                2488
Coupe                  1211
Convertible             793
4dr Hatchback           702
Crew Cab Pickup         681
Extended Cab Pickup     623
Wagon                   592
2dr Hatchback           506
Passenger Minivan       417
Regular Cab Pickup      392
2dr SUV                 138
Passenger Van           128
Cargo Van                95
Cargo Minivan            71
Convertible SUV          29
Name: Vehicle Style, dtype: int64

In [95]:
cars["Driven_Wheels"].value_counts()

front wheel drive    4787
rear wheel drive     3371
all wheel drive      2353
four wheel drive     1403
Name: Driven_Wheels, dtype: int64

In [96]:
dir(cars["Make"])

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_name',
 '_set_value',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

## Selection
Use these commands to select a specific subset of your data.

- df[col] | Returns column with label col as Series
- df[[col1, col2]] | Returns columns as a new DataFrame
- s.iloc[0] | Selection by position
- s.loc['index_one'] | Selection by index
- df.iloc[0,:] | First row
- df.iloc[0,0] | First element of first column

In [97]:
 # selecting multiple columns
cars[["Make","Model","Year"]].head()

  Make       Model  Year
0  BMW  1 Series M  2011
1  BMW    1 Series  2011
2  BMW    1 Series  2011
3  BMW    1 Series  2011
4  BMW    1 Series  2011

In [98]:
cars.iloc[0:5,0:5]#selecting by index position

  Make       Model  Year             Engine Fuel Type  Engine HP
0  BMW  1 Series M  2011  premium unleaded (required)      335.0
1  BMW    1 Series  2011  premium unleaded (required)      300.0
2  BMW    1 Series  2011  premium unleaded (required)      300.0
3  BMW    1 Series  2011  premium unleaded (required)      230.0
4  BMW    1 Series  2011  premium unleaded (required)      230.0

In [99]:
cars.loc[0:5]# selecting by label

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
5,BMW,1 Series,2012,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,31200

#### loc vs iloc

In [100]:
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
s

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [101]:
s.iloc[0]

'a'

In [102]:
s.loc[0]

'd'

In [103]:
cars[(cars["Vehicle Style"]=="Sedan")&(cars["Make"]=="Audi")]# subsetting based on condition

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
17,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
18,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
20,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
21,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,all wheel drive,4.0,Luxury,Midsize,Sedan,21,16,3105,2000
22,Audi,100,1993,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8946,Audi,S8,2016,premium unleaded (required),605.0,8.0,AUTOMATIC,all wheel drive,4.0,"Factory Tuner,Luxury,High-Performance",Large,Sedan,25,15,3105,114900
8947,Audi,S8,2017,premium unleaded (recommended),605.0,8.0,AUTOMATIC,all wheel drive,4.0,"Factory Tuner,Luxury,High-Performance",Large,Sedan,24,15,3105,115900
11178,Audi,V8,1992,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2000
11179,Audi,V8,1993,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2149
11180,Audi,V8,1994,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2239

In [108]:
cars[(cars["Year"]>=2015)&(cars["Engine Fuel Type"]=="electric")].shape

(51, 16)

## Creating test objects

In [109]:
import numpy as np
n = np.random.rand(20,5)
n

array([[0.57623425, 0.49031036, 0.33937331, 0.93880835, 0.11815316],
       [0.09114795, 0.87069755, 0.06022092, 0.51324461, 0.4982244 ],
       [0.36875903, 0.59636008, 0.19249918, 0.3257377 , 0.30630967],
       [0.26717897, 0.39741697, 0.16288315, 0.848361  , 0.97066045],
       [0.86464085, 0.31548461, 0.0905362 , 0.41962886, 0.25125033],
       [0.9893746 , 0.02051698, 0.13502687, 0.13662936, 0.99298456],
       [0.20209484, 0.69709264, 0.17114765, 0.85816796, 0.75952508],
       [0.22122676, 0.84434912, 0.96741396, 0.58073105, 0.41708868],
       [0.23005035, 0.74930962, 0.55629787, 0.90946904, 0.13012535],
       [0.43425966, 0.57250726, 0.58767902, 0.08717813, 0.64178257],
       [0.53500958, 0.2215839 , 0.16378083, 0.17612803, 0.62542936],
       [0.00458633, 0.8703379 , 0.49087287, 0.2410817 , 0.38553399],
       [0.0692397 , 0.95069683, 0.65489431, 0.91568651, 0.6195759 ],
       [0.17005158, 0.08356512, 0.1536492 , 0.66192441, 0.99336747],
       [0.06983625, 0.11428112, 0.5991816 , 0.97680019, 0.33929042],
       [0.01460497, 0.71947819, 0.22043887, 0.22012869, 0.21899173],
       [0.68961953, 0.49580066, 0.44466685, 0.10922601, 0.93211109],
       [0.5324922 , 0.0739752 , 0.18006225, 0.82492844, 0.87236815],
       [0.35602776, 0.53891967, 0.24257351, 0.03978134, 0.46966579],
       [0.75076521, 0.76810327, 0.13757354, 0.44374004, 0.0501077 ]])

In [110]:
type(n)

numpy.ndarray

In [22]:
d1 = pd.DataFrame(n)
d1

           0         1         2         3         4
0   0.537340  0.467831  0.319174  0.474059  0.087781
1   0.566524  0.161515  0.090356  0.957570  0.209677
2   0.261527  0.342662  0.178507  0.081478  0.523789
3   0.270887  0.268050  0.365397  0.310668  0.745807
4   0.737675  0.647013  0.118592  0.785612  0.350179
5   0.212429  0.114676  0.105783  0.291500  0.074719
6   0.928895  0.025711  0.363449  0.687307  0.897684
7   0.865862  0.891473  0.541132  0.172038  0.567505
8   0.623396  0.209394  0.276719  0.919825  0.784376
9   0.802726  0.442221  0.614791  0.639487  0.893448
10  0.460981  0.998251  0.962842  0.702324  0.715977
11  0.884118  0.162652  0.772183  0.824983  0.926740
12  0.636218  0.971541  0.025402  0.490444  0.763652
13  0.435202  0.182179  0.356893  0.517569  0.073137
14  0.978443  0.600380  0.425024  0.588062  0.218378
15  0.852004  0.606448  0.038538  0.077499  0.021219
16  0.426662  0.524232  0.192882  0.087052  0.564389
17  0.522008  0.771811  0.092519  0.554411  0.783338
18  0.471814  0.464083  0.961521  0.622834  0.985441
19  0.812206  0.950420  0.078885  0.552865  0.238199

In [23]:
d1.head()

          0         1         2         3         4
0  0.537340  0.467831  0.319174  0.474059  0.087781
1  0.566524  0.161515  0.090356  0.957570  0.209677
2  0.261527  0.342662  0.178507  0.081478  0.523789
3  0.270887  0.268050  0.365397  0.310668  0.745807
4  0.737675  0.647013  0.118592  0.785612  0.350179

In [24]:
l = [1,2,3,4,5]
s1 = pd.Series(l)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
type(s1)

pandas.core.series.Series

## Statistics
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)


- df.describe() | Summary statistics for numerical columns
- df.mean() | Returns the mean of all columns
- df.corr() | Returns the correlation between columns in a DataFrame
- df.count() | Returns the number of non-null values in each DataFrame column
- df.max() | Returns the highest value in each column
- df.min() | Returns the lowest value in each column
- df.median() | Returns the median of each column
- df.std() | Returns the standard deviation of each column

In [113]:
cars["Year"].mean()

2010.384337753903

In [114]:
cars.corr() # lies between -1(highest negative corr) and +1(highest positive corr)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
Year,1.000000,0.351794,-0.041479,0.263787,0.258240,0.198171,0.073049,0.227590
Engine HP,0.351794,1.000000,0.779988,-0.102713,-0.406563,-0.439371,0.037501,0.662008
Engine Cylinders,-0.041479,0.779988,1.000000,-0.140088,-0.621606,-0.600776,0.041145,0.531312
Number of Doors,0.263787,-0.102713,-0.140088,1.000000,0.118570,0.120881,-0.048272,-0.126635
highway MPG,0.258240,-0.406563,-0.621606,0.118570,1.000000,0.886829,-0.020991,-0.160043
city mpg,0.198171,-0.439371,-0.600776,0.120881,0.886829,1.000000,-0.003217,-0.157676
Popularity,0.073049,0.037501,0.041145,-0.048272,-0.020991,-0.003217,1.000000,-0.048476
MSRP,0.227590,0.662008,0.531312,-0.126635,-0.160043,-0.157676,-0.048476,1.000000

In [115]:
cars.min()

Make                            Acura
Model                        1 Series
Year                             1990
Engine HP                          55
Engine Cylinders                    0
Transmission Type    AUTOMATED_MANUAL
Driven_Wheels         all wheel drive
Number of Doors                     2
Vehicle Size                  Compact
Vehicle Style           2dr Hatchback
highway MPG                        12
city mpg                            7
Popularity                          2
MSRP                             2000
dtype: object

In [116]:
cars.max()

Make                            Volvo
Model                              xD
Year                             2017
Engine HP                        1001
Engine Cylinders                   16
Transmission Type             UNKNOWN
Driven_Wheels        rear wheel drive
Number of Doors                     4
Vehicle Size                  Midsize
Vehicle Style                   Wagon
highway MPG                       354
city mpg                          137
Popularity                       5657
MSRP                          2065902
dtype: object

In [117]:
cars.std()

Year                    7.579740
Engine HP             109.191870
Engine Cylinders        1.780559
Number of Doors         0.881315
highway MPG             8.863001
city mpg                8.987798
Popularity           1441.855347
MSRP                60109.103604
dtype: float64

In [128]:
cars.var()

Year                5.745246e+01
Engine HP           1.192286e+04
Engine Cylinders    3.170392e+00
Number of Doors     7.767168e-01
highway MPG         7.855278e+01
city mpg            8.078052e+01
Popularity          2.078947e+06
MSRP                3.613104e+09
dtype: float64

## Data Cleaning
Use these commands to perform a variety of data cleaning tasks.

- df.columns = ['a','b','c'] | Rename columns
- pd.isnull() | Checks for null Values, Returns Boolean Arrray
- pd.notnull() | Opposite of pd.isnull()
- df.dropna() | Drop all rows that contain null values
- df.dropna(axis=1) | Drop all columns that contain null values
- df.dropna(axis=1,thresh=n) | Drop all rows have have less than n non null values
- df.fillna(x) | Replace all null values with x
- s.fillna(s.mean()) | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)
- s.astype(float) | Convert the datatype of the series to float
- s.replace(1,'one') | Replace all values equal to 1 with 'one'
- s.replace([1,3],['one','three']) | Replace all 1 with 'one' and 3 with 'three'
- df.rename(columns=lambda x: x + 1) | Mass renaming of columns
- df.rename(columns={'old_name': 'new_ name'}) | Selective renaming
- df.set_index('column_one') | Change the index
- df.rename(index=lambda x: x + 1) | Mass renaming of index

In [125]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [131]:
cars.rename(columns={"Engine Fuel Type":"Fuel_Type","Engine HP":"Horse_Power"},inplace=True)

In [132]:
cars.head()

,Make,Model,Year,Fuel_Type,Horse_Power,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [134]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Fuel_Type               3
Horse_Power            69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [136]:
cars[cars["Fuel_Type"].isnull()]

,Make,Model,Year,Fuel_Type,Horse_Power,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499

In [137]:
cars["Fuel_Type"].value_counts()

regular unleaded                                7172
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
natural gas                                        2
Name: Fuel_Type, dtype: int64

In [138]:
cars[(cars["Make"]=="Suzuki")&(cars["Model"]=="Verona")]

,Make,Model,Year,Fuel_Type,Horse_Power,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,NaN,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499
11324,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,19349
11325,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,21049
11326,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,17549
11327,Suzuki,Verona,2005,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,18,481,20549
11328,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20299
11329,Suzuki,Verona,2006,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18299

In [139]:
cars["Fuel_Type"].fillna("regular unleaded",inplace=True)

In [140]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Fuel_Type               0
Horse_Power            69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [141]:
cars.loc[11321:11323]

,Make,Model,Year,Fuel_Type,Horse_Power,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
11321,Suzuki,Verona,2004,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,17199
11322,Suzuki,Verona,2004,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,20199
11323,Suzuki,Verona,2004,regular unleaded,155.0,6.0,AUTOMATIC,front wheel drive,4.0,NaN,Midsize,Sedan,25,17,481,18499

## Filter, Sort, and Groupby
Use these commands to filter, sort, and group your data.

- df[df[col] > 0.5] | Rows where the column col is greater than 0.5
- df[(df[col] > 0.5) & (df[col] < 0.7)] | Rows where 0.7 > col > 0.5
- df.sort_values(col1) | Sort values by col1 in ascending order
- df.sort_values(col2,ascending=False) | Sort values by col2 in descending order
- df.sort_values([col1,col2],ascending=[True,False]) | Sort values by col1 in ascending order then col2 in descending order
- df.groupby(col) | Returns a groupby object for values from one column
- df.groupby([col1,col2]) | Returns groupby object for values from multiple columns
- df.groupby(col1)[col2] | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any function from the statistics module)
- df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean) | Create a pivot table that groups by col1 and calculates the mean of col2 and col3
- df.groupby(col1).agg(np.mean) | Find the average across all columns for every unique col1 group
- df.apply(np.mean) | Apply the function np.mean() across each column

## Join/Combine
Use these commands to combine multiple dataframes into a single one.

- df1.append(df2) | Add the rows in df1 to the end of df2 (columns should be identical)
- pd.concat([df1, df2],axis=1) | Add the columns in df1 to the end of df2 (rows should be identical)
- df1.join(df2,on=col1,how='inner') | SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'

In [61]:
left = pd.DataFrame({'K':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
left

    K   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [62]:
right = pd.DataFrame({'K':['K0','K1','K2','K4'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})
right

    K   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K4  C3  D3